body{
  background-color : black;
  color: white;
  font-family:arial;
}

.heading{
  font-size: 25px;
  font-weight: bold;
}

.player-button{
  padding:10px;
  background-color: transparent;
  color:white;
  /* width:10px; */
  border:4px solid white;
  margin:10px;
  border-radius:50%;
  cursor: pointer;
}

.button-image{
  /* width:100px; */
  height:100px;
  /* background-color: black; */
  border-radius:50%; 
}

.reset-button, .autoplay-button{
  margin:20px 20px 20px 20px;
  padding:5px 10px;
  border:none;
  border-radius:4px;
  background-color:white;
  cursor:pointer;
  font-size: 15px;
  font-weight: bold;
}

.result-text{
  font-size: 20px;
}

.player-decision{
  height:50px;
  /* border:1px solid white; */
  margin:0px 10px;
}

.selection-box{
  /* border:2px solid white; */
  display: flex;
  align-items: center;
}

.selection-box p{
  align-items: center;
  justify-content: center;
  /* border:1px solid white; */
  display: inline-flex;
}